.home-page {
    /* border: 2px solid red; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/* src/pages/Home/Homepage.css */
.home-page {
    padding-top: 60px; /* เพื่อให้เนื้อหาไม่ทับกับ NavBar */
}

.content {
    padding: 20px;
}
